<br><br><br><br><br>
<nav class="navbar  bg shadow-lg navbar-color-on-scroll fixed-bottom navbar-expand-lg"  id="sectionsNav" style="padding: 12px">
  
  <a href="dashboard.php"><div class="navbar-brand text-center" style="padding:6px"><img 
    style="height:  30px;
      width:  30px;
      object-fit: cover;" 
    src="../../assets/footerBar/home.png"  class="h-10" ></div></a>
  <a href="premium.php"><div class="navbar-brand text-center" style="padding:6px"><img 
    style="height:  40px;
      width:  40px;
      object-fit: cover;" 
    src="../../assets/icons/crown-jewel-reward-winner-512.webp"  class="h-10" ></div> </a>
  <a href="profile.php"><div class="navbar-brand text-center" style="padding:6px"><img 
    style="height:  30px;
      width:  30px;
      object-fit: cover;
      color: black" 
    src="../../assets/footerBar/user.png"  class="h-10" ></div></a>  
    <a href="orderHistory.php"><div class="navbar-brand text-center" style="padding:6px"><img 
    style="height:  30px;
      width: 30px;
      object-fit: cover;" 
    src="../../assets/footerBar/wall-clock.png"  class="h-10" ></div></a>    
     
</nav>