<body class="register-page sidebar-collapse">
   
    
    <div  >
      <div class="filter"></div>
      <div class="content-center">
        <div id="owl-carousel" class="owl-carousel owl-theme owl-loaded owl-drag">
              
              
              
              
              <!-- Owl Carousel Start -->
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2250px, 0px, 0px); transition: all 0.25s ease 0s; width: 4125px;"><div class="owl-item cloned" style="width: 375px;">
            <div class="item">
                <img src="../../assets/marketplace1.jpg" class="">
              </div>
            </div>
  
              <div class="owl-item cloned" style="width: 375px;"><div class="item">
                <img src="../../assets/header1.jpg">
              </div>
              </div>
            </div>
          </div>
              <!-- Owl Carousel End -->
        <div class="row" style="margin-top: -95px">
          <div class="col-lg-12 ml-auto mr-auto">
              <div class="card col-sm-6 col-md-12" style="padding: 24px" >
                <div style="padding-bottom: 15px;">
                  <span class="top-notch"></span>
                </div>
                <div class="col dash" style="padding: 0px">
                    <div   class="col-sm-4 icon" ><a href=""><img src="https://cdn3.iconfinder.com/data/icons/delivery-services-2/64/grocery-delivery-man-avatar-service-online-market-512.png"  class="" ><p class="ititile">Grocery</p></a></div>
  
                    <div  class="col-sm-4 icon" ><a href=""><img src="../../assets/icons/images (1).png"  class="" ><p class="ititile">Automotive</p></a></div>
  
  
                    <div  class="col-sm-4 icon" ><a href=""><img src="../../assets/icons/images (2).png"  class="" ><p class="ititile">Plumbing</p></a></div>
  
                    <div  class="col-sm-4 icon" ><a href=""><img src="../../assets/icons/images.png"  class="" ><p class="ititile">Electric Service</p></a></div>
  
                    <div  class="col-sm-4 icon" ><a href=""><img src="../../assets/ac.webp"  class="" ><p class="ititile">Air Conditioner</p></a></div>
  
  
                    <div  class="col-sm-4 icon" ><a href=""><img src="../../assets/icons/pack.webp"  class="" ><p class="ititile">Package Shipment</p></a></div>
  
                    <div  class="col-sm-4 icon" ><a href=""><img src="../../assets/icons/images.jpeg"  class="" ><p class="ititile">Medicines</p></a></div>
                     
                    <div  class="col-sm-4 icon" ><a href="premium.php"><img src="../../assets/icons/crown-jewel-reward-winner-512.webp"  class="" ><p class="ititile">Dailyvry Premium</p></a></div>
              </div>
  
              <hr class="my-hr" style="border-top: 0px;">
              <section>
                <div class="heading-top"><span></span><br><h3 style="font-weight: 600;margin-top: 8px;">Popular Services</h3></div>
                <br>
                <div class="section-body">
                  <!-- <div id="owl-carousel-section" class="owl-carousel owl-theme">
                    <div class="item">
                      <img src="https://i.pinimg.com/originals/10/52/ce/1052cedc818d44eb7d6084aebc9cd85d.jpg"  class="" >
                    </div>
                    <div class="item">
                      <img src="https://i.pinimg.com/originals/51/9b/2b/519b2b6479d29e86d896c250a017fe86.jpg"  class="" >
                    </div>
                    <div class="item">
                      <img src="https://freedesignfile.com/upload/2012/11/Concept-cars-2.jpg"  class="" >
                    </div>
                    <div class="item">
                      <img src="https://1.bp.blogspot.com/-T4mzmIEVmKU/XVI4ZFOpWZI/AAAAAAAAWSc/n5brAJWj4WwZBFCn0ZbI9eYAPgGjExwPgCLcBGAs/s2560/ferrari-f40-gran-turismo-sport-f3-2560x1440.jpg">
                    </div>
                  </div> -->
                  <div id="owl-carousel-section" class="owl-carousel owl-theme">
                    <div class="item">
                      <img src="https://reviewimo.com/wp-content/uploads/2020/04/buffing-car-wax-1024x568-1.jpg"  class="" >
                    </div>
                    <div class="item">
                      <img src="https://nmotion2015.com/wp-content/uploads/2019/03/car-oil.jpg"  class="" >
                    </div>
                    <div class="item">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTIqQMUPxxAK0izjvL-7U5RQ4ph57iCjWzpTw&usqp=CAU"  class="" >
                    </div>
                    <div class="item">
                      <img src="https://blog.getpitstop.com/wp-content/uploads/2020/03/car-service-in-Gurgaon.jpg">
                    </div>
                  </div>
                </div>
              </section>
              <br>
    
              
              <section>
                <div class="heading-top"><span></span><br><h3 style="font-weight: 600;margin-top: 8px;">How we work?</h3></div>
                <br>
                <div class="section-body">
                  <div class="row">
                    <div class="col-2 text-center">
                      <div class="circle"></div>
                      <div class="line-1"></div>
                    </div>
                    <div class="col-10">
                      <div class="row"><i class="fas fa-car how-we-work-icon" style="font-size: 60px; color: #ff6b6b;"></i>&nbsp;&nbsp;&nbsp; <h3 class="text-center">Select Your Service</h3></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2 text-center">
                      <div class="circle"></div>
                      <div class="line-1"></div>
                    </div>
                    <div class="col-10">
                      <div class="row"><i class="fas fa-calendar-alt how-we-work-icon" style="font-size: 60px; color: #ff6b6b;"></i>&nbsp;&nbsp;&nbsp; <h3 class="text-center">Schedule Service</h3></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2 text-center">
                      <div class="circle"></div>
                      
                    </div>
                    <div class="col-10">
                      <div class="row"><i class="fas fa-wrench how-we-work-icon" style="font-size: 60px; color: #ff6b6b;"></i>&nbsp;&nbsp;&nbsp; <h3 class="text-center">Enjoy Service</h3></div>
                    </div>
                  </div>
                </div>
              </section>
              <br>
              <!-- Featured Service Wall -->
              <div class="">
                <h3 class="text-center" style="font-weight: 600;margin: 0px;padding: 0px;">We provide</h3>
                <table class="features table table-responsive">
                  <td class="text-center">
                      <i class="fas fa-award"></i><p class="ititile">Quality<br>Services</p>
                  </td>
                  <td class="text-center">
                      <i class="fas fa-cog"></i><p class="ititile">Genuine<br>Parts</p>
                  </td>
                  <td class="text-center">
                      <i class="fas fa-user-tie"></i><p class="ititile">Professional<br>Services</p>
                  </td>
                  <td class="text-center">
                      <i class="fas fa-map-marker-alt"></i><p class="ititile">pickup &<br>Drop</p>
                  </td>                
                </table>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</body>
<!-- <script>
    $(document).ready(function() {
    $("#owl-carousel").owlCarousel({
           items : 1, 
           itemsDesktop : false,
           itemsDesktopSmall : false,
           itemsTablet: false,
           itemsMobile : false,
           margin: 0,
           loop: true,
           dots: false,
           autoplay:true,
           autoplayTimeout:5000 
         });
 
         $("#owl-carousel-section").owlCarousel({
           items : 1, 
           itemsDesktop : false,
           itemsDesktopSmall : false,
           itemsTablet: false,
           itemsMobile : false,
           margin: 5,
           loop: true,
           dots: true,
           autoplay:true,
           autoplayTimeout:5000 
         });
 
         $(".owl-carousel").owlCarousel();

       });

       
</script> -->