<body class="index-page sidebar-collapse" >
     
    <div class="page-header mySlides section-dark" style="background-color: white !important">
       
  
  
      <div class="filter"></div>
      <div class="content-center" style="margin-top: 0px">
        <div class="container">
  
          <div class="title-brand" style="margin-top: 0px">
            <img src="../../assets/icons/logoTwo.png" width="400px">
            <!-- <h1 class="presentation-title" style=" font-size: 40px;">DAILYTROOPS</h1> -->
            
          </div>
          <!-- <h2 class="presentation-subtitle text-center text-bold">At Your Service</h2> -->
        </div>
      </div>
      <!--<h6 class="category category-absolute" style="color:grey">Designed and coded by <i class="fa fa-heart heart"></i> Nidhey & Ritwik-->
        
      <!--</h6>-->
    </div>
    
      
      <div class="container text-center" style="padding: 12px ">
      <div class="card card-register" style="background-color: rgba(29, 209, 161,0.8); ">
        <h3 style="font-weight:900">What We Do</h3>
        <p style="font-weight:900">Our TROOPS does the Daily Work without getting our Customers in Contact with anyone and Gets Your Work Done according to you<p>
        
              
               <h3 style='font-weight:900'>Kadir Sheikh</h3>
                
      
  
               <a href=""><button type="button" class="btn btn-outline-default   btn-round">Login</button></a>
                      <a href=""><button type="button" class="btn btn-outline-default btn-round">Signup</button></a>
           </div>
    </div>
 


  </body>